<div class="w-50 mx-auto">
  <div class="row mb-3">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="First Number"
        aria-label="First Number"
        #firstNumber
      />
    </div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Second Number"
        aria-label="Second Number"
        #secondNumber
      />
    </div>
  </div>

  <div class="mb-3">
    <button
      type="button"
      class="btn btn-primary me-3"
      (click)="calculate($event)"
    >
      -
    </button>
    <button
      type="button"
      class="btn btn-primary me-3"
      (click)="calculate($event)"
    >
      +
    </button>
    <button
      type="button"
      class="btn btn-primary me-3"
      (click)="calculate($event)"
    >
      /
    </button>
    <button
      type="button"
      class="btn btn-primary me-3"
      (click)="calculate($event)"
    >
      *
    </button>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        [value]="result ?? '0'"
        disabled
      />
    </div>
  </div>
</div>
