<form class="w-50 mx-auto row" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input id="email" class="form-control" [class.is-invalid]="email?.invalid && (email?.dirty || email?.touched)"
      type="email" formControlName="email">

    <div class="invalid-feedback" *ngIf="email?.invalid">
      Must be an email
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input id="password" class="form-control"
      [class.is-invalid]="password?.invalid && (password?.dirty || password?.touched)" type="password"
      formControlName="password">

    <div class="invalid-feedback" *ngIf="password?.hasError('minlength')">
      Password must longer than 6
    </div>
  </div>

  <button class="btn btn-primary w-50 mx-auto" [disabled]="!loginForm.valid" type="submit">Submit</button>
</form>

<p class="mt-3">{{ loginForm.value | json }}</p>
<p>{{ loginForm.status }}</p>
<p>{{ loginForm.get('email')?.errors | json }}</p>
