<h1 class="mb-3">Danh sách sản phẩm</h1>

<table class="table table-striped mx-auto">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên</th>
      <th scope="col">Giá</th>
      <th scope="col">Mô tả</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td><a [routerLink]="[product.id, 'edit']">Edit</a></td>
      <td><a href="#" (click)="onDelete(product.id)">Delete</a></td>
    </tr>
  </tbody>
</table>
